* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search-form {
    padding: 25px 0px 25px 0px;
}

body {
    background-image: url("https://i.pinimg.com/originals/ca/45/b8/ca45b8e64347b04ae81ed77cd0442f50.jpg");
    background-size: cover;
}